# Ignore login credentials
deploy.json
# Ignore debug build version of SprintReport
SprintReport-debug.html
# Ignore 'local' build version of SprintReport
SprintReport-local.html
#IDE Files
.idea
.c9revisions
node_modules
#test files
_SpecRunner.html
.grunt
