.app {
     /* Add app styles here */
}
td .metricHeader {
    color: blue;
    background-color: lightblue;
}
.x-table-layout-cell.metricData panel-1022-innerCt {
    color: black;
    background-color: whitesmoke;
    font-size: 11px;
}
